 .u-section-1 {
  min-height: 513px;
  background-image: none;
}

.u-section-1 .u-image-1 {
  height: 470px;
  margin-top: 0;
  margin-bottom: 43px;
  --animation-custom_in-scale: 0.3;
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 411px;
  }

  .u-section-1 .u-image-1 {
    height: 342px;
    margin-bottom: 60px;
    object-position: 57.21% 50%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 421px;
}

.u-section-2 .u-group-1 {
  width: 1032px;
  min-height: 274px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 15px;
  margin: -110px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 87px 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 616px;
  margin: 30px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 82px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 0 0 0 auto;
  padding: 16px 31px 16px 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 82px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 0 auto 0 0;
  padding: 15px 59px 16px 58px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-2 .u-group-1 {
    width: 822px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 41px;
    margin-right: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-2 .u-group-1 {
    width: 625px;
    min-height: 292px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }
} .u-section-3 {
  filter: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 494px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1190px;
  margin: -110px -50px 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 604px;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 50px 50px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 25px 745px 0 150px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: -57px 166px 0 729px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 14px 713px 0 119px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 776px 0 182px;
}

.u-section-3 .u-image-1 {
  --radius: 10px;
  width: 324px;
  height: 114px;
  margin: -94px 102px 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0 713px 0 119px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 777px 0 182px;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 713px 0 119px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 15px;
    margin-right: 620px;
    margin-left: 25px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 63px;
    margin-left: 582px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 582px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: auto;
    margin-left: 57px;
  }

  .u-section-3 .u-image-1 {
    width: 265px;
    height: 92px;
    margin-top: -117px;
    margin-right: 28px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 45px;
    margin-right: 582px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: auto;
    margin-left: 64px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 582px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: 434px;
    margin-left: 32px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -58px;
    margin-right: 50px;
    margin-left: 415px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 15px;
    margin-right: 402px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
    margin-left: 83px;
  }

  .u-section-3 .u-image-1 {
    width: 176px;
    height: 69px;
    margin-top: -130px;
    margin-right: 70px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 81px;
    margin-right: 402px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 16px;
    margin-left: 84px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 9px;
    margin-right: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 547px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 238px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -36px;
    margin-left: 275px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 50px;
    margin-right: 238px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 16px;
    margin-left: 45px;
  }

  .u-section-3 .u-image-1 {
    width: 148px;
    height: 67px;
    margin-top: -107px;
    margin-right: 34px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 56px;
    margin-right: 250px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 24px;
    margin-left: 45px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 250px;
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 41px;
    margin-left: 93px;
    margin-right: 93px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 270px;
    margin-left: 93px;
    margin-right: 93px;
  }

  .u-section-3 .u-text-3 {
    width: 238px;
    margin-top: -284px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-right: 219px;
    margin-left: 9px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 233px;
    margin-right: auto;
    margin-left: 93px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    margin-top: -288px;
    margin-right: 113px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -139px;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-3 .u-text-7 {
    margin: 11px 0 260px 122px;
  }
}