 .u-section-1 {
  background-image: none;
  min-height: 691px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  filter: none;
  background-image: url("images/Design_sem_nome-removebg-preview1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0 0;
  padding: 12px 54px 14px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 559px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2)  + 940px);
    margin-bottom: 14px;
  }

  .u-section-1 .u-image-1 {
    min-height: 545px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 29px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1122px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2)  + 709px);
    margin-top: 14px;
  }

  .u-section-1 .u-image-1 {
    min-height: 743px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 39px 30px;
  }

  .u-section-1 .u-text-1 {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 469px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 972px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 590px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 589px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px 50px 50px 40px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 25px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 10px;
    margin-left: 21px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 47px;
    margin-left: 148px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 390px;
    margin-top: 23px;
  }

  .u-section-1 .u-image-1 {
    min-height: 388px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 864px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 70px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  width: 343px;
  margin: 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 546px;
  grid-auto-columns: 100%;
  --gap: 23px;
}

.u-section-2 .u-list-item-1 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 377px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-list-1 {
    width: 1021px;
    margin-right: -379px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 15.3333px));
    min-height: 607px;
    grid-auto-columns: calc(33.3333% - 15.3333px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-2 .u-list-1 {
    width: 692px;
    margin-top: 50px;
    margin-right: -157px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.499975px));
    min-height: 546px;
    grid-auto-columns: calc(50% - 11.499975px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-list-1 {
    width: 326px;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 585px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-2 .u-image-1 {
    height: 430px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 426px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
}