 .u-section-1 {
  min-height: 691px;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  filter: none;
  background-image: url("images/Design_sem_nome-removebg-preview4.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 12px 54px 14px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 547px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 522px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 761px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    min-height: 727px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 260px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 575px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    min-height: 545px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 40px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
    margin-left: 125px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 739px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
    margin-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1588px;
}

.u-section-2 .u-text-1 {
  width: 496px;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 500;
  width: 785px;
  margin: 18px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 6px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 0.666667px));
  min-height: 1286px;
  --gap: 1px;
  grid-auto-columns: calc(33.3333% - 0.666667px);
}

.u-section-2 .u-image-1 {
  background-image: url("images/Gemini_Generated_Image_g3142fg3142fg314.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/IMG_2019.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/IMG_2073.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/IMG_1962.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-5 {
  background-image: url("images/IMG_2067.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-6 {
  background-image: url("images/IMG_2017.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-7 {
  background-image: url("images/IMG_2092.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-8 {
  background-image: url("images/IMG_1968.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1428px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 0.666667px));
    min-height: 1060px;
    grid-auto-columns: calc(33.333333333333336% - 0.666667px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 0.50000025px));
    min-height: 1624px;
    grid-auto-columns: calc(50% - 0.50000025px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 0.5px));
    grid-auto-columns: calc(50% - 0.5px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1850px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 2.8125rem;
    margin-top: 94px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}