 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/photo-1605807646983-377bc5a76493.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 735px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 183px 74px 0;
}

.u-section-1 .u-text-2 {
  width: 799px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 616px;
  margin: 31px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 82px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 0 0 0 auto;
  padding: 16px 31px 16px 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 82px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 0 auto 0 0;
  padding: 15px 59px 16px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 72px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 91px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 91px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 219px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 862px;
  margin: 31px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 189px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-icon-1 {
  width: 80px;
  height: 80px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 1px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 189px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 1px 30px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 12px -41px 0 290px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 141px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 141px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 28px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 146px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 155px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 8px;
    margin-right: -183px;
    margin-left: 321px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 111px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -47px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 167px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 25px;
    margin-right: -176px;
    margin-left: 176px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1122px;
}

.u-section-3 .u-shape-1 {
  height: 342px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-image-1 {
  width: 508px;
  height: 508px;
  background-image: url("images/Gemini_Generated_Image_dnduovdnduovdndu.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-size: contain;
  margin: -282px auto 0;
}

.u-section-3 .u-text-1 {
  width: 697px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  width: 701px;
  line-height: 2;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px auto 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 3px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 60px;
  padding: 15px 54px;
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1172px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 70px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1004px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  filter: none;
  min-height: 619px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1190px;
  margin: 1px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 604px;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px 50px 50px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 25px 745px 0 150px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: -57px 166px 0 729px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 14px 713px 0 119px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 776px 0 182px;
}

.u-section-4 .u-image-1 {
  --radius: 10px;
  width: 324px;
  height: 114px;
  margin: -94px 102px 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0 713px 0 119px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 777px 0 182px;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 713px 0 119px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 642px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin: 0 auto 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 15px;
    margin-right: 620px;
    margin-left: 25px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 63px;
    margin-left: 582px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 582px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: auto;
    margin-left: 57px;
  }

  .u-section-4 .u-image-1 {
    width: 265px;
    margin-top: -117px;
    margin-right: 28px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 45px;
    margin-right: 582px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: auto;
    margin-left: 64px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 582px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 543px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: 434px;
    margin-left: 32px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -58px;
    margin-right: 50px;
    margin-left: 415px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 15px;
    margin-right: 402px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
    margin-left: 83px;
  }

  .u-section-4 .u-image-1 {
    width: 176px;
    height: 86px;
    margin-top: -130px;
    margin-right: 70px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 109px;
    margin-right: 402px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 16px;
    margin-left: 84px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 9px;
    margin-right: 402px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 535px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 238px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -36px;
    margin-left: 275px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 50px;
    margin-right: 238px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 16px;
    margin-left: 45px;
  }

  .u-section-4 .u-image-1 {
    width: 148px;
    margin-top: -107px;
    margin-right: 34px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 56px;
    margin-right: 250px;
    margin-left: 12px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 24px;
    margin-left: 45px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 250px;
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 386px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 41px;
    margin-left: 93px;
    margin-right: 93px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 270px;
    margin-left: 93px;
    margin-right: 93px;
  }

  .u-section-4 .u-text-3 {
    width: 238px;
    margin-top: -284px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 25px;
    margin-left: 21px;
  }

  .u-section-4 .u-image-1 {
    height: 70px;
    margin-top: 215px;
    margin-right: auto;
    margin-left: 93px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    margin-top: -284px;
    margin-right: 127px;
    margin-left: 21px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -128px;
    margin-right: 21px;
    margin-left: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 8px;
    margin-right: 21px;
    margin-left: 101px;
  }
}